.main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.currencyInfo{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main input{
  height: 40px;
  font-size: 18px;
  display: flex;
  align-items: center;
}
select{
  height: 47px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#convert{
  height: 47px;
  font-size: 20px;
}
.output p{
  font-size: 22px;
}